.dashboard-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2em;
}

.dashboard-sidebar {
    &__menu {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    &__item {
        padding: 1em 0.5em;
        border: solid 1px #ccc;
    }
    
}